*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  box-sizing: border-box;
  color: $color-black;
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 2.6rem;
}
