$color-primary: #4f5ec9;
$color-secondary: #ffc35d;
$color-danger: #ff6a6f;
$color-success: hsl(130, 71%, 48%);

$color-grey-light: #eee;
$color-grey-dark: #888;

$color-white: #fff;
$color-black: #272727;

$color-text: #32325d;
