.input {
  display: block;
  width: 100%;
  padding: 1rem 1.2rem;
  margin-bottom: 1.6rem;
  border: 1px solid $color-grey-light;
  border-radius: 0.2rem;
  font-family: inherit;
  font-size: 1.6rem;
}

.textarea {
  @extend .input;
  min-height: 120px;
  resize: vertical;
}

.label {
  display: inline-block;
  font-size: 1.4rem;
  margin-bottom: 0.15rem;
  text-transform: uppercase;
  font-weight: 700;
}
